.textOwner {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #e3e7ed;
}
.textOwnerName {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #fcfdfd;
}
.priceContainer {
  height: 36px;
  width: 93px;
  background: rgba(0, 31, 63, 0.5);
  border-radius: 8px;
  flex-direction: row;
  align-items: center;
  padding: 6px;
}
.priceText {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  padding-left: 6;
}
