.background {
  background-color: #001f3f;
  flex: 1;
}
.backgroundImage {
  flex: 1;
  background-color: #001f3f;
}
.contain {
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 100;
}
.title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  align-self: center;
  color: #f0f0f0;
  padding-bottom: 16;
}
.description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f0f0f0;
  width: 330px;
  padding-bottom: 32;
}
.button {
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;
  height: 48px;
  background: #ede68a;
  border-radius: 8px;
}
